@font-face {
    font-family: "finalfantasy";
    src: url("fonts/final-fantasy/optiengeetienne-webfont.woff2") format("woff2"),
    url("fonts/final-fantasy/optiengeetienne-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.left {
    background-image: url("images/endwalker_poster.png");
    background-size: cover;
    background-position: center;
    width: 110vw;
    height: 100vh;
    position: relative;
}

.left p {
    font-family: "finalfantasy", serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

p img {
    height: 1em;
    padding-right: 8px;
}

.text-background {
    align-self: flex-start;
    margin-top: 90vh;
    background: rgba(250, 248, 247, .5);
}

.right {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f8fa;
}

.right p {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.right > p {
    padding-right: 10vw;
    padding-left: 2vw;
    padding-bottom: 4vw;
    margin: 0;
}

#login {
    font-size: 17px;
}

.form-container {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
    background-color: white;
    align-self: stretch;
    padding: 2vh 2vw;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form-column:last-child {
    margin-top: 44px;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
}

.form-column * {
    margin: 4px;
}

.form-column label {
    margin-bottom: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
}

.form-column input {
    margin-top: 0;
    margin-bottom: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 4px;
}

input:focus {
    border: 1px solid cornflowerblue;
    box-shadow: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0;
    outline: none;
}

.form-column p {
    margin-bottom: 18px;
}

.right > button {
    margin-top: 20px;
    margin-left: 2vw;
    margin-bottom: 20px;
    align-self: flex-start;
    padding: 12px 30px;
    color: white;
    font-size: 18px;
    border: 2px solid #2596be;
    border-radius: 8px;
    background-color: #2596be;
}